body{
    margin: 0;
    padding: 0;
}
.menu-mobile{
    display: none;
}
.list-klub{
    background-color: rgb(223, 244, 237);
    padding: 10px;
    box-sizing: border-box;
    width: 90vw;
    margin: 20px auto;
}
.main-top{
    width: 90vw;
    margin: 100px auto;
}
.main-top h3{
    text-align: center;
    margin-bottom: 50px;
}
.list-pertandingan{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}
.pertandingan-wrap{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
}
.pertandingan-card{
    width: 80%;
}
.form-wrap{
    width: 50vw;
    padding: 20px;
    margin: 50px auto;
    border: 1px solid #aaa;
}
.list-edit-skor{
    display: flex;
    justify-content: space-between;
    width: 70vw;
    margin: 50px auto;
}
.history-edit-skor{
    padding: 20px;
    width: 100vw;
    box-sizing: border-box;
}
@media only screen and (max-width: 600px){
    .menu-pc{
        display: none;
    }
    .menu-mobile{
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .form-wrap{
        width: 80vw;
    }
    .list-edit-skor{
        width: 90vw;
    }
}