body{
    margin: 0;
    padding: 0;
}
.menu-mobile{
    display: none;
}



@media only screen and (max-width: 600px){
    .menu-pc{
        display: none;
    }
    .menu-mobile{
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}